* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    color: #000000;
    scroll-behavior: smooth;
}

html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 75px;
    padding: 0 75px;
}

a {
    text-decoration: none;
    color: #000000;
    padding: 0 25px;
    border-right: 2px solid #004aad;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #004aad;
    text-underline-offset: 6px;
}

.logo-link {
    border: none;
}

.logo {
    height: 75px;
}

ul {
    list-style: none;
    display: flex;
}

.nav-link {
    font-size: 1.5rem;
}

.nav-contact {
    border-style: none;
}

/* Hero */
#hero {
    height: 700px;
    background-color: #ffde59;
    display: flex;
}

.hero-left {
    width: 50%;
    padding-left: 300px;
    justify-content: center;
    align-self: center;
}

h1, .web-developer {
    font-size: 3rem;
    font-weight: 400;
}

.dylan-villanueva {
    font-size: 4rem;
    font-weight: 800;
    color: #004aad;
}

.web-developer {
    text-decoration: underline;
    text-decoration-color: #004aad;
    text-underline-offset: 12px;
}

.button {
    background-color: #ffffff;
    color: #000000;
    font-weight: 800;
    border-radius: 20px;
    padding: 15px;
    border: none;
}

.button:hover {
    cursor: pointer;
    background-color: #004aad;
    color: #ffffff;
}

.hero-right {
    width: 50%;
    justify-content: center;
    align-self: center;
}

.hero-image {
    border: 10px solid #004aad;
    border-radius: 50%;
    height: 500px;
}

/* About */
#about {
    width: 40%;
    margin: 100px auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2.5rem;
    color: #004aad;
}

p {
    font-size: 1.25rem;
    line-height: 2;
}

/* Projects */
#projects {
    background-color: #ffde59;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-gallery {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 25px 0 100px;
}

.project {
    text-align: center;
}

.project-name {
    font-weight: 800;
    line-height: 1;
}

.project-image {
    height: 300px;
}

/* Contact */
#contact {
    width: 50%;
    margin: 50px auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text {
    margin-top: -25px;
}

.contact-link {
    border: none;
}

.contact-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-icon {
    height: 50px;
}

/* Footer */
#footer {
    background-color: #ffde59;
    text-align: center;
}

.copyright-text {
    font-size: 0.75rem;
}

/* Media Queries */
@media(max-width: 1400px) {
    .hero-left {
        padding-left: 200px;
    }
    #about {
        width: 45%;
    }
}

@media(max-width: 1300px) {
    .hero-left {
        padding-left: 150px;
    }
    #about {
        width: 50%;
    }
    .project-gallery {
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 1200px) {
    .hero-left {
        padding-left: 100px;
    }
}

@media (max-width: 1100px) {
    #about {
        width: 55%;
    }
}

@media (max-width: 1000px) {
    #header {
        padding: 0 10px;
    }
    a {
        padding: 0 10px;
    }
    #hero {
        flex-direction: column-reverse;
        height: 800px;
        justify-content: center;
    }
    .hero-right {
        text-align: center;
    }
    .hero-image {
        height: 400px;
    }
    .hero-left {
        padding-left: 0;
        width: 60%;
        text-align: center;
    }
    #about {
        margin: 50px auto;
        width: 60%;
    }
    .about-title {
        margin-bottom: 10px;
    }
    p {
        line-height: 1.75;
    }
    #projects {
        padding: 25px 0;
    }
    .project-gallery {
        width: 60%;
        margin: 0 0 50px;
    }
    .project-image {
        height: auto;
        width: 100%;
    }
    #contact {
        width: 60%;
        margin: 25px auto 50px;
    }
}
